//
// user.scss
// Use this to write your custom SCSS
//

.text-blue {
  color: $primary-blue;
  font-weight: 500;
}

.text-400 {
  font-weight: 500;
}

.opacity-3 {
  opacity: 0.3;
}

.btn-primary {
  border-radius: 500px;
}

.smooth-shadow-sm {
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.05) !important;
}

.chart {
  width: 100%;
}

h4 {
  font-weight: bold;
}

.row {
  height: 100%;
  .card {
    height: 100%;
  }
}

.password_view_icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 14px;
  color: $primary;
  cursor: pointer;
}

.filter-tabs {
  display: flex;
  span {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid lightgrey;
  }
}
